asgiref==3.8.1
diff-match-patch==20241021
Django==5.2
django-import-export==4.3.7
et_xmlfile==2.0.0
openpyxl==3.1.5
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2

# Production WSGI server
gunicorn==21.2.0

# Static file handling
whitenoise==6.5.0

# Database config
dj-database-url==1.2.0
psycopg2-binary==2.9.9

# Django REST Framework
djangorestframework==3.15.0

# Optional: CORS support
django-cors-headers==4.5.0
